# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.out

# React
frontend/node_modules/
frontend/build/
